.choose-btn {
    width: 232px;
    height: 56px;
    flex-shrink: 0;

    border-radius: 8px;
    background: var(--green2, #CAF201);

    display: block;
    margin-left: auto;
    margin-right: auto;
    
    cursor: pointer;

    margin-top: 15px;

}


.start-btn {
    width: 128px;
    height: 128px;
    flex-shrink: 0;
    
    fill: var(--black4, #7D8D81);

    cursor: pointer;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    padding: 0;
    cursor: pointer;

    background-color: #E0FF5F;

    margin-top: 90px;
}

